.texts-field {
  text-align: center;
  .sign-up {
    padding-top: 1%;
  }
  .second-text {
    a{
      color: black;
      margin-left: 8px;
      text-decoration: underline !important;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  form {
    width: 85%;
    }
  .form-content {
    border: 2px solid #609184;
      .label-input {
        padding-top: 3%;
        &:last-child {
          padding-bottom: 3%;
        }
    }
    .form-item-wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 3%;
      &:first-child {
        padding-top: 3%;
      }
    }
    .form-item-label{
      flex-basis: 40%;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .form-item-input {
      flex-basis: 40%;
      .error-message {
        color: #A91919;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .form-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    form {
      width: 98%;
    }
  }
}



