.texts-field {
  text-align: center;
  .sign-up {
    font-size: 56px;
    line-height: 66px;
    margin-top: 72px;
    margin-bottom: 15px;
  }
  .second-text {
    font-size: 24px;
    line-height: 32px;
    a{
      color: black;
      margin-left: 8px;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  form {
    width: 60%;
    }
  .form-content {
    border: 2px solid #B7D69F;
      .label-input {
        margin-top: 56px;
        &:last-child {
          margin-bottom: 56px;
        }
    }
    .form-item-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 56px;
      &:first-child {
        margin-top: 56px;
      }
    }
    .form-item-label{
      flex-basis: 40%;
      font-size: 24px;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .form-item-input {
      flex-basis: 40%;
      .error-message {
        color: #A91919;
        font-weight: bold;
      }
    }
  }
}



