.texts-field {
  text-align: center;
  .sign-up {
    font-size: 56px;
    line-height: 66px;
    margin-top: 72px;
    margin-bottom: 15px;
  }
  .second-text {
    font-size: 24px;
    line-height: 32px;
    a{
      text-decoration: none;
      color: black;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  .form-content {
    border: 2px solid #978585;
    flex-basis: 60%;
    form {
      width: 100%;
      .label-input {
        margin-top: 56px;
        &:last-child {
          margin-bottom: 56px;
        }
      }
    }
    .form-item-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 56px;
      &:first-child {
        margin-top: 56px;
      }
    }
    .form-item-label{
      flex-basis: 40%;
      font-size: 24px;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    .form-item-input {
      flex-basis: 40%;
      .MuiTextField-root {
        width: 100%;
      }
    }
  }
}

.empty-div {
  height: 72px;
}

.empty-div2 {
  height: 112px;
}



