.l-form-content {
  display: flex;
  justify-content: center;
  input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }
  form {
    width: 510px;
  }
  .l-error {
    color: red;
    margin-top: 0px;
    box-sizing: border-box;
  }
  .email-input, .pass-input {
    padding-bottom: 8px;
  }
  .red-input {
    border: 2px solid red;
  }

  .input {
    border: 1px solid black;
  }
}

.l-texts {
  padding-bottom: 2rem;
  text-align: center;
  .l-h1 {
    font-size: 40px;
    margin-bottom: 13px;
  }
  .l-question {
    font-size: 16px;
    span {
      color:blue;
    }
  }
}





