$h-height: 70px;
$f-height: 50px;
$full-height: 100vh;

.container {
  width: 1600px;
  padding: 24px;
  margin: auto;
  justify-content: center;
}

.main {
  height: calc(#{$full-height} - #{$f-height} - #{$h-height});
}