.lecture {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.lesson-links {
  display: flex;
  justify-content: flex-end;
  :first-child {
    padding-right: 16px;
  }
  .read-more {
    background: none;
    border: none;
    color: #1890ff;
    &:hover {
      cursor: pointer
    }
    &:focus {
      outline: none;
    }
  }
}
.main {
  .ant-collapse {
    width: 90%;
    margin: auto;
  }
}

.lesson-header {
  display: flex;
  justify-content: space-between;
  .add-lesson-btn {
    padding:10px 20px;
  }
}

.section-title {
  display: flex;
  justify-content: space-between;

  &__students {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}