.SLcontainer {
  display: flex;
  justify-content: center;
  line-height: 26px;
  div {
    display: flex;
    flex-flow: column;
    flex-basis: 90%;
    background: white;
    * {
      padding: 10px!important;
    }
  }
}