.comment-chat {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  .comment-form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    .comment-input {
      flex-basis: 85%;
      padding-right: 10px;
    }
  }
}

.comment-wrapper {
  display: flex;
  justify-content: center;
  .tab-items-container {
    width: 70%;
    .comment-items {
      border: 2px solid #11142c;
      background: white;
      border-radius: 6px;
      word-wrap: break-word;
      overflow: auto;
      scroll-behavior: auto;
      min-height: calc(100vh - 200px);
      padding: 10px;
      .comment-item {
        display: flex;
        margin-bottom: 10px;
      }
    }
  }
  .ant-tabs-tab-btn {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.comment-avatar {
  background-color: #1890ff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 3px 0 0 4px;
}

.comment-content {
  flex: 1;
  margin-left: 5px;
}


@media only screen and (max-width: 768px) {
  .comment-wrapper {
    .tab-items-container {
      width: 85%;
      .comment-items {
        min-height: 380px;
      }
    }
  }

  .comment-form {
    width: 85%;
    flex-flow: column;
    .comment-input {
      padding-right: 0!important;
      padding-bottom: 10px;
    }
  }
}