.level-1 {
  font-size: 48px;
}

.level-2 {
  font-size: 24px;
}

.level-3 {
  font-size: 20px;
}

.level-4 {
  font-size: 16px;
}
.level-5 {
  font-size: 14px;
}

.textBold {
  font-weight: 900;
}

.bolderText {
  font-weight: 600;
}