.random-text-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 30px;
}

.homepage-carousel-card {
  flex-basis: 50%;
  display: inline-block;
}

.hp-carousel-dots {
  li.slick-active button {
    background: red !important;
  }
  li button {
    background-color: black !important;
  }
}
.contentStyle {
  text-align: center;
  display: flex !important;
  justify-content: space-around;
  margin-bottom: 60px;
}

.carousel-img {
  height: 466px;
}

.article-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-bottom: 50px;
}

.button-component {
  padding: 0 50px;
}


.ant-carousel {
  padding: 0 5%;
}

.ant-card-body {
  display: flex;
  justify-content: center;
}