.random-text-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 30px;
}

.contentStyle {
  text-align: center;
  display: flex !important;
  justify-content: space-around;
  margin-bottom: 60px;
}
.homepage-carousel-card {
  flex-basis: 40%;
  display: inline-block;
}

.hp-carousel-dots {
  li.slick-active button {
    background: red !important;
  }
  li button {
    background-color: black !important;
  }
}

.carousel-img {
  width: 700px;
  height: 466px;
}
