.h-header {
    width: 100%;
    height: 190px;
    box-sizing: border-box;
    background-color: #0a0a23;
    display: flex;
    justify-content: space-between;
}

.h-items-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 150px;
  .menu-item {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    &:hover{
      color: gray;
    }
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: gray;
      }
    }
  }
}

.menu-item-color {
  color: #BFB0AC !important;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  a {
    color: #BFB0AC !important;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.h-logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  img {
    height: 190px;
  }
}

.auth-icon {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .h-header {
    flex-flow: column;
  }
  .h-items-container {
    justify-content: space-between;
    margin-top: 0px;
    .menu-item {
      margin-left: 0;
    }
  }
  .h-logo {
    img {
      height: 160px;
    }
    justify-content: center;
    padding: 0;
  }
}

