.menu {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  .menu-items-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  .menu-logo {
    padding: 30px;
  }
  .menu-item {
    margin-right: 15px;
  }
}

@media screen and (max-width:650px) {
  .menu {
    display: none !important;
  }
}

