.button-container {
  display: flex;
  justify-content: center;
  padding: 3% 0;
  .button-component {
    background-color: #306407;
    color: #FFE9E9;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background: #40840B;
    }
    &:active {
      background: #306407;
    }
    &:focus {
      background: #5FB71A;
    }
  }
}

