.button-container {
  display: flex;
  justify-content: center;
  padding: 3% 0;
  .button-component {
    height: 88px;
    background-color: #287370;
    color: #FFE9E9;
    font-size: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background: #084C68;
    }
    &:active {
      background: #68C181;
    }
    &:focus {
      background: #68C181;
    }
  }
}

